*,
*:after,
*:before {
  box-sizing: border-box;
}

body {
  margin: 0;

  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto Slab', serif;
}

h1 {
  color: #6d6e71;
  font-weight: 700;
  font-size: 3rem;
}

h1 span {
  color: #00a79d;
}

p {
  color: #939598;
}

button {
  padding: 8px 0;

  background-color: #00a79d;
  border: none;
  color: #fff;
}

input {
  margin-top: 20px;
  padding-left: 5px;

  border: 1.2px solid #939598;
  font-size: 1.1rem;
  line-height: 1.6rem;
  outline: none;
}

.page-container {
  display: flex;
  flex-direction: column;

  height: auto;
}

.input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding-top: 20px;
  height: 300px;
  padding-bottom: 30px;

  background-color: #e5f3f2;
}

.input-container form {
  display: flex;
  flex-direction: column;

  width: 45%;
}

.input-container form textarea {
  margin-top: 20px;
  padding-left: 5px;
  
  font-size: 1.1rem;
  line-height: 1.5rem;
  outline: none;
  border: 1px solid #939598;
}

.input-container form button {
  margin-top: 20px;

  font-size: 1.1rem;
}

.display-container {
  flex: 1;

  display: flex;
  flex-direction: column;
  align-items: center;

  height: 600px;
  padding-top: 20px;
}

.display-container form {
  width: 45%;
}

.display-container form input {
  width: 100%;
}

.display-container section {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
}

.display-container article {
  margin-top: 20px;
  padding: 10px 0;
  width: 45%;
  
  border-bottom: 2px solid #d1d3d4;
}

.display-container article > p {
  margin-top: 15px;
}

.article-header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 40px;
}

.article-header h2 {
  font-weight: 700;
  font-size: 1.5rem;

  color: #6d6e71;
}

.icon {
  height: 28px;
  width: 28px;

  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
}

.delete-button {
  background-image: url('./images/delete.svg');
}

.delete-button:hover {
  background-image: url('./images/delete-hover.svg');
}

.quality {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  
  margin-top: 15px;
  height: 40px;
  width: 40%;
}

.quality p {
  margin-left: 0.8rem;
  color: #6d6e71;
}


.up-vote {
  background-image: url('./images/upvote.svg');
}

.up-vote:hover {
  background-image: url('./images/upvote-hover.svg');
}

.down-vote {
  background-image: url('./images/downvote.svg');
  margin-left: 0.8rem;
}

.down-vote:hover {
  background-image: url('./images/downvote-hover.svg');
}



@media only screen and (max-width: 1100px) {
  .input-container form {
    width: 60%;
  }

  .display-container form {
    width: 60%;
  }

  .display-container article {
    width: 60%;
  }

  .quality {
    justify-content: flex-start;
    width: 100%;
  }
}

@media only screen and (max-width: 600px) {
  .input-container {
    height: 70vh;
  }

  .input-container form {
    width: 75%;
  }

  .input-container form textarea {
    height: 75px;
  }

  .quality p {
    font-size: .87rem;
  }

  .display-container form  {
    width: 75%;
  }

  .display-container article {
    width: 75%;
  }

  input {
    margin-top: 2rem;
  }
}

@media only screen and (max-width: 350px) {
  .input-container {
    height: 70vh;
  }

  .input-container form {
    width: 87%;
  }

  .display-container form  {
    width: 87%;
  }

  .display-container article {
    width: 87%;
  }

  input {
    margin-top: 2rem;
  }
}
